.firstDiv {
    text-align: center;

}

.textDivCenter {
    text-align: center;
    font-family: 'Impact', 'Times New Roman', Arial;
    font-size: 20px;
}

.header {
    background-color: aquamarine;
    padding: 20px;
}

.left_col {
    width: 120px;
    height: 460px;
    background-color: lightblue;
    padding: 15px;
    vertical-align: top
}

.center_col {
    padding: 15px;
    vertical-align: top
}

.right_col {
    width: 120px;
    background-color: lightblue;
    padding: 15px;
    vertical-align: top
}

.footer {
    padding: 10px 0 10px 20px;
    background-color: grey;
    font-size: 14px
}

.under {
    text-decoration: underline;
}

.textNewRoman18 {
    font-family:'Times New Roman', Times; font-size: 18px
}




